[MASTER]
ignore=__pycache__, migrations, .venv

[MESSAGES CONTROL]

disable=parse-error,missing-docstring,too-many-arguments,line-too-long

[FORMAT]

max-line-length=120

[DESIGN]

max-args=10
max-locals=25
max-branches=15
max-statements=75

[REPORTS]
output-format=colorized
reports=no

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception,builtins.BaseException