-r requirements.txt
azure-ai-documentintelligence==1.0.0
Markdown==3.4.4
requests==2.32.3
tqdm==4.67.1
tiktoken
langchain==0.3.13
bs4==0.0.1
urllib3==2.3.0
pytest==7.4.0
pytest-asyncio==0.23.2
PyMuPDF==1.25.1
azure-storage-blob
chardet
azure-keyvault-secrets
coverage