-r requirements.txt
azure-ai-documentintelligence==1.0.0
Markdown==3.4.4
requests==2.32.3
tqdm==4.67.1
tiktoken
langchain==0.3.13
bs4==0.0.1
urllib3==2.3.0
pytest==8.3.4
pytest-asyncio==0.25.3
PyMuPDF==1.25.1
azure-storage-blob
chardet
azure-keyvault-secrets
coverage
flake8==7.1.1
black==24.10.0
autoflake==2.3.1
isort==5.13.2