.sidebarContainer {
    height: 100%;
    border-left: 2px #EDEBE9 solid;
}

.avatarContainer {
    border-bottom: 2px #EDEBE9 solid;
    justify-content: center;
    align-items: 'center';
    padding: 4px;
}

.navigationContainer {
    width: '4rem';
    flex-direction: 'column';
    justify-content: 'flex-start';
    align-items: 'center';
    padding-top: '1rem';
}

.navigationButton {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px;

    padding: 8px, 8px, 8px, 8px;
    box-shadow: 0px 0.6px 1.8px 0px #0000001C;
    box-shadow: 0px 3.2px 7.2px 0px #00000021;
    background-color: #F3F2F1;
}

.navigationButtonActive {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px;

    padding: 8px, 8px, 8px, 8px;
}

.navigationButtonDisabled {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px;

    padding: 8px, 8px, 8px, 8px;
    background: var(--Colors-Alpha-Black-5, #0000000D);

    box-shadow: 0px 0px 2px 0px #0000003D;
    box-shadow: 0px 2px 4px 0px #00000047;
}

.navigationButton:hover {
    background-color: #EDEBE9;
    cursor: pointer;
}

.navigationButton > p {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.navigationButtonActive > p {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}